
%aside.grid-1-6
  %nav.side-nav
    %ul
      %li
        = link_to 'sub nav 0'
      %li
        = link_to 'sub nav 0'
      %li
        = link_to 'sub nav 0'
      %li
        = link_to 'sub nav 0'
      %li
        = link_to 'sub nav 0'
